hr{
    margin-top: 7rem;
    color:#2f2f30;
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
.footerElements{
    display: flex;
    width: 75rem;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .hngTask{
    width: 832.28px;
    height: 24px;
    margin-left: 20rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
  }
  .Zuri{
    width: 187.59px;
    height: 32px;
  }
  .I4G{
    margin-left: auto;
    width: 132.13px;
    height: 32px;
  }
  @media only screen and (max-width: 900px){
    hr{
        margin-top: 3rem;
        width: 22rem;
    }
    .footerElements{
        width: 22rem;
        display: block;
        margin-bottom: 2rem;
        flex-direction: column;
        align-items: center;
    }
    .hngTask{
        margin-left: auto;
    }
  }